{% extends 'base.html.twig' %}

{% set summe = 0 %}

{% block body %}
	<h2>Ihre Bestellung</h2>
	<br>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Bestellnummer</td>
				{% if not is_granted("IS_AUTHENTICATED_FULLY") %}
					<td>Tisch</td>
				{% endif %}
				<td>Name</td>
				<td>Preis</td>
				<td>Status</td>
				{% if is_granted("IS_AUTHENTICATED_FULLY") %}
					<td>Status ändern</td>
				{% endif %}
				<td>Löschen</td>

			</tr>
		</thead>
		<tbody>
			{% for bestellung in bestellungen %}
				{% if bestellung.status != "archiv" %}
					{% set summe = summe + bestellung.preis %}
					<tr>
						<td>{{bestellung.bestellnummer}}</td>
						{% if not is_granted("IS_AUTHENTICATED_FULLY") %}
							<td>{{bestellung.tisch}}</td>
						{% endif %}
						<td>{{bestellung.name}}</td>
						<td>{{bestellung.preis}}</td>
						<td>{{bestellung.status}}</td>
						{% if is_granted("IS_AUTHENTICATED_FULLY") %}
							<td>
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
										{{bestellung.status}}
									</button>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="{{path('status', {id: bestellung.id, status: 'offen'})}}">Offen</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{path('status', {id: bestellung.id, status: 'fertig'})}}">Fertig</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{path('status', {id: bestellung.id, status: 'archiv'})}}">Archiv</a>
										</li>
									</ul>
								</div>
							</td>
						{% endif %}
						{% if bestellung.status == "offen" %}
							<td>
								<a href="{{path('löschen', {id: bestellung.id})}}">X</a>
							</td>
						{% endif %}
					</tr>
					<tr>
					{% endif %}
				{% endfor %}
				<tr>
					<td>Summe.:
						{{summe}}€</td>
				</tr>
			</tbody>
		</tbody>

	</table>
{% endblock %}
